In [1]:
import pandas as pd

In [2]:
# Load the data into a DataFrame 
df = pd.read_csv('mock_fashion_data_uk_us.csv')
df

,Product Name,Price,Brand,Category,Description,Rating,Review Count,Style Attributes,Total Sizes,Available Sizes,Color,Purchase History,Age,Fashion Magazines,Fashion Influencers,Season,Time Period Highest Purchase,Customer Reviews,Social Media Comments,feedback
0,T5D3,97.509966,Ralph Lauren,Footwear,Bad,1.421706,492,Streetwear,"M, L, XL",XL,Green,Medium,24,Vogue,Chiara Ferragni,Fall/Winter,Daytime,Mixed,Mixed,Other
1,Y0V7,52.341277,Ted Baker,Tops,Not Good,1.037677,57,Vintage,"M, L, XL",XL,Black,Above Average,61,Glamour,Leandra Medine,Winter,Weekend,Negative,Neutral,Other
2,N9Q4,15.430975,Jigsaw,Footwear,Very Bad,3.967106,197,Streetwear,"S, M, L",M,Blue,Average,27,Marie Claire,Gigi Hadid,Summer,Nighttime,Unknown,Negative,Neutral
3,V2T6,81.116542,Alexander McQueen,Outerwear,Not Good,2.844659,473,Formal,"S, M, L",L,Red,Very High,50,Marie Claire,Chiara Ferragni,Fall/Winter,Weekend,Neutral,Other,Other
4,S7Y1,31.633686,Tommy Hilfiger,Bottoms,Very Good,1.183242,55,Sporty,"M, L, XL",S,Green,Above Average,23,Glamour,Song of Style,Spring,Daytime,Positive,Mixed,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,K9C7,16.255998,Mulberry,Accessories,Best,3.534252,312,Vintage,"S, L, XL",XL,Green,Very High,37,Cosmopolitan,Olivia Palermo,Winter,Holiday,Positive,Negative,Positive
999996,E5I5,78.555545,Mulberry,Activewear,Best,1.896160,68,Casual,"S, M, L",L,Red,Average,52,Glamour,Kendall Jenner,Spring,Evening,Unknown,Other,Neutral
999997,Y0C9,34.379639,Mulberry,Tops,Not Good,3.168064,237,Casual,"S, M, L",M,Red,High,25,Cosmopolitan,Leandra Medine,Summer,Evening,Neutral,Mixed,Unknown
999998,B1D8,62.343618,Ralph Lauren,Tops,Best,4.764673,53,Sporty,"M, L, XL",S,Red,Above Average,29,W,Olivia Palermo,Spring/Summer,Evening,Positive,Other,Other
999999,Q6J1,57.674668,Burberry,Jewelry,Bad,1.232505,149,Preppy,"M, L, XL",M,Red,High,35,Fashionista,Aimee Song,Spring/Summer,Evening,Mixed,Negative,Neutral

In [3]:
# Define the columns to drop
columns_to_drop = ['Social Media Comments', 'Fashion Influencers', 'Fashion Magazines', 'feedback', 'Product Name','Time Period Highest Purchase', 'Purchase History', 'Description','Price']

# Drop the specified columns
df.drop(columns=columns_to_drop, inplace=True)

df

,Brand,Category,Rating,Review Count,Style Attributes,Total Sizes,Available Sizes,Color,Age,Season,Customer Reviews
0,Ralph Lauren,Footwear,1.421706,492,Streetwear,"M, L, XL",XL,Green,24,Fall/Winter,Mixed
1,Ted Baker,Tops,1.037677,57,Vintage,"M, L, XL",XL,Black,61,Winter,Negative
2,Jigsaw,Footwear,3.967106,197,Streetwear,"S, M, L",M,Blue,27,Summer,Unknown
3,Alexander McQueen,Outerwear,2.844659,473,Formal,"S, M, L",L,Red,50,Fall/Winter,Neutral
4,Tommy Hilfiger,Bottoms,1.183242,55,Sporty,"M, L, XL",S,Green,23,Spring,Positive
...,...,...,...,...,...,...,...,...,...,...,...
999995,Mulberry,Accessories,3.534252,312,Vintage,"S, L, XL",XL,Green,37,Winter,Positive
999996,Mulberry,Activewear,1.896160,68,Casual,"S, M, L",L,Red,52,Spring,Unknown
999997,Mulberry,Tops,3.168064,237,Casual,"S, M, L",M,Red,25,Summer,Neutral
999998,Ralph Lauren,Tops,4.764673,53,Sporty,"M, L, XL",S,Red,29,Spring/Summer,Positive
999999,Burberry,Jewelry,1.232505,149,Preppy,"M, L, XL",M,Red,35,Spring/Summer,Mixed

In [4]:
# Drop all NaN values if any
df.dropna(inplace=True)

In [5]:
# Check if any NaN values are still present
df.isnull().sum()

Brand               0
Category            0
Rating              0
Review Count        0
Style Attributes    0
Total Sizes         0
Available Sizes     0
Color               0
Age                 0
Season              0
Customer Reviews    0
dtype: int64

In [6]:
# Normalizing the rating column
df['Rating'] = (df['Rating'] - df['Rating'].min()) / (df['Rating'].max() - df['Rating'].min()) * 5

In [8]:
# Checking dataframe
df.head()

,Brand,Category,Rating,Review Count,Style Attributes,Total Sizes,Available Sizes,Color,Age,Season,Customer Reviews
0,Ralph Lauren,Footwear,0.527132,492,Streetwear,"M, L, XL",XL,Green,24,Fall/Winter,Mixed
1,Ted Baker,Tops,0.047096,57,Vintage,"M, L, XL",XL,Black,61,Winter,Negative
2,Jigsaw,Footwear,3.708884,197,Streetwear,"S, M, L",M,Blue,27,Summer,Unknown
3,Alexander McQueen,Outerwear,2.305824,473,Formal,"S, M, L",L,Red,50,Fall/Winter,Neutral
4,Tommy Hilfiger,Bottoms,0.229053,55,Sporty,"M, L, XL",S,Green,23,Spring,Positive

In [9]:
# Saving cleaned csv
cleaned_csv_path = 'cleaned_data.csv'  
df.to_csv(cleaned_csv_path, index=False)