In [1]:
import pandas as pd

In [2]:
# Load the data into a DataFrame 
df = pd.read_csv('mock_fashion_data_uk_us.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: 'mock_fashion_data_uk_us.csv'

In [ ]:
# Define the columns to drop
columns_to_drop = ['Social Media Comments', 'Fashion Influencers', 'Fashion Magazines', 'feedback', 'Product Name']

# Drop the specified columns
df.drop(columns=columns_to_drop, inplace=True)

df

In [26]:
# Drop all NaN values if any
df.dropna(inplace=True)

In [ ]:
df.dtypes

In [27]:
# Check if any NaN values are still present
df.isnull().sum()

Price                           0
Brand                           0
Category                        0
Description                     0
Rating                          0
Review Count                    0
Style Attributes                0
Total Sizes                     0
Available Sizes                 0
Color                           0
Purchase History                0
Age                             0
Season                          0
Time Period Highest Purchase    0
Customer Reviews                0
dtype: int64

In [28]:
# Ensure price is of a numeric type 
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

In [29]:
# Normalizing the rating column
df['Rating'] = (df['Rating'] - df['Rating'].min()) / (df['Rating'].max() - df['Rating'].min()) * 5

In [30]:
# One-Hot encoding for categorial variables 
columns_to_encode = ['Total Sizes', 'Available Sizes','Brand', 'Category', 'Style Attributes', 'Color', 'Purchase History', 'Season', 'Time Period Highest Purchase', 'Customer Reviews']

# Perform one-hot encoding using pd.get_dummies
df= pd.get_dummies(df, columns=columns_to_encode)
(df.head())

,Price,Description,Rating,Review Count,Age,"Total Sizes_M, L, XL","Total Sizes_S, L, XL","Total Sizes_S, M, L",Available Sizes_L,Available Sizes_M,...,Time Period Highest Purchase_Daytime,Time Period Highest Purchase_Evening,Time Period Highest Purchase_Holiday,Time Period Highest Purchase_Nighttime,Time Period Highest Purchase_Weekend,Customer Reviews_Mixed,Customer Reviews_Negative,Customer Reviews_Neutral,Customer Reviews_Positive,Customer Reviews_Unknown
0,97.509966,Bad,0.527132,492,24,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1,52.341277,Not Good,0.047096,57,61,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,15.430975,Very Bad,3.708884,197,27,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,1
3,81.116542,Not Good,2.305824,473,50,0,0,1,1,0,...,0,0,0,0,1,0,0,1,0,0
4,31.633686,Very Good,0.229053,55,23,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [32]:
# Ensuring text is properly readable for ML Model
df['Description'] = df['Description'].str.lower().str.replace('[^\w\s]', '', regex=True)

In [33]:
# Checking dataframe
df.head()

,Price,Description,Rating,Review Count,Age,"Total Sizes_M, L, XL","Total Sizes_S, L, XL","Total Sizes_S, M, L",Available Sizes_L,Available Sizes_M,...,Time Period Highest Purchase_Daytime,Time Period Highest Purchase_Evening,Time Period Highest Purchase_Holiday,Time Period Highest Purchase_Nighttime,Time Period Highest Purchase_Weekend,Customer Reviews_Mixed,Customer Reviews_Negative,Customer Reviews_Neutral,Customer Reviews_Positive,Customer Reviews_Unknown
0,97.509966,bad,0.527132,492,24,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1,52.341277,not good,0.047096,57,61,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,15.430975,very bad,3.708884,197,27,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,1
3,81.116542,not good,2.305824,473,50,0,0,1,1,0,...,0,0,0,0,1,0,0,1,0,0
4,31.633686,very good,0.229053,55,23,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [34]:
# Saving cleaned csv
cleaned_csv_path = 'cleaned_data.csv'  
df.to_csv(cleaned_csv_path, index=False)